<p>
  Pour que votre inscription soit
  <strong class="text-green-600">acceptée</strong>, vous devez
  <strong class="text-red-600">obligatoirement</strong>
  avoir complété les étapes suivantes : <br>
</p>

<ul class="list-disc ml-6 space-y-2">
  <li>
    Avoir pris connaissance des conditions d'inscription et certifié que les informations de l'élève sont correctes.
  </li>
  <li>
    Avoir certifié que l'élève dispose d'un
    <strong class="text-red-600">certificat médical</strong>
    d'aptitude à la pratique du Parkour datant de
    <strong class="text-red-600">moins d'un mois</strong>.
    sauf si l'élève était déjà inscrit·e pour <em>l'année précédente ou celle d'avant</em>
  </li>
  <li>
    Avoir réglé l'inscription par carte bancaire en ligne
  </li>
</ul>

<p class="mt-4">
  <strong class="text-red-600">Important :</strong> Toutes ces étapes doivent être complétées en ligne. Il n'y a plus besoin de présenter un formulaire d'inscription au format papier.
</p>

<p class="mt-4">
  Pour valider votre inscription, vous devez absolument compléter l'ensemble du processus en ligne avant de participer aux cours.
</p>

<p class="mt-4">
  Toute inscription <strong class="text-red-600">incomplète</strong> se verra systématiquement <strong class="text-red-600">refusée</strong> et vous ne serez pas autorisé à participer aux cours.
</p>

<p class="mt-4">
  Vous trouverez toutes les informations nécessaires concernant les lieux des cours dans l'agenda :
  <%= link_to "Agenda Parkour Paris", "https://www.parkourparis.fr/agenda", class: "text-amber-500 hover:text-amber-400" %>
</p>

<p class="mt-4">Bonne rentrée !</p>
