<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h1 class="mb-5">C'est complet</h1>
    </div>
    <div class="row">
      <div class="col-4">
        <%= image_pack_tag "capacity.webp" %>
      </div>
      <div class="col-8 text-center p-5">
        <h5>Il n'y a plus de places disponibles.</h5>
        <h5>Les inscriptions débuteront début septembre.</h5>
        ​<p>Pour suivre notre actualité médiatique, rendez-vous sur</p>
        <p>Instagram <a href="https://www.instagram.com/parkourparis/?hl=fr" target="_blank">@ParkourParis</a></p>
        <p>Facebook <a href="https://www.facebook.com/ParkourParis">@ParkourParis</a></p>
        <p>Blog Officiel <a href="https://www.parkourparis.fr/blog" target="_blank">@ParkourParisOfficiel</a></p>
      </div>
    </div>
  </div>
</div>
