<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul class="list-group list-group-flush bg-transparent">
      <% resource.errors.full_messages.each do |message| %>
        <li class="list-group-item bg-transparent"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
