<div class="row">
  <div class="col-md-3 offset-md-1">

    <div class="mt-5">
      <p>Parkour Paris</p>
      <p>ID société : 750 838 609 00014</p>
      <p>parkour.paris@gmail.com</p>
    </div>
    <div class="mt-5">
      <p>International School of Paris</p>
      <p>E-mail: lhudson@isparis.edu</p>
      <p>Adresse: Rue Beethoven</p>
      <p>Paris</p>
    </div>
  </div>
  <div class="col-md-3 offset-md-4">
    <div class="mt-5">
      <h3>Avoir</h3>
      <p>Date de délivrance : <%= Time.now %></p>
    </div>
  </div>
</div>

<table class="table mt-5 text-center">
  <thead>
    <tr>
      <th>Valeur credité:</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @subscription.credit_note_amount %></td>
    </tr>
    <tr>
      <td>Total avoir :</td>
      <td><%= @subscription.credit_note_amount %></td>
    </tr>
  </tbody>
</table>
