<div class="row">
  <div class="col-md-12">
    <h1 class="page-title">Oups !</h1>
    <hr />

    <div class="row mt-3">
      <div class="col-6">
        <%= image_tag "capacity.webp", class: 'image', width: '100%' %>
      </div>
      <div class="col-6">
        <div class="background-white text-center pt-5">
          <h5>
            On dirait que vous n'êtes pas connecté à Internet.
            <br />
            Vérifiez et réessayez !
          </h5>

          ​<p>
            <small>
              Pour suivre notre actualité médiatique, rendez-vous sur<br/>
              Instagram <a href="https://www.instagram.com/parkourparis/?hl=fr" target="_blank">@ParkourParis</a><br/>
              Facebook <a href="https://www.facebook.com/ParkourParis">@ParkourParis</a><br/>
              Blog Officiel <a href="https://www.parkourparis.fr/blog" target="_blank">@ParkourParisOfficiel</a>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
