<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h1 class="page-title">C'est les vacances</h1>
      <hr />
    </div>
    <div class="row">
      <div class="col-6">
        <%= image_pack_tag "vacances.webp", class: 'image', width: '100%' %>
      </div>
      <div class="col-6">
        <div class="background-white text-center pt-5">
          <h2>Les cours reprennent en Septembre !</h2>
          <h5>Ouverture des inscriptions le 1er Septembre pour les nouveaux adhérents.</h5>

          ​​<p>
            <small>
              Pour suivre notre actualité médiatique, rendez-vous sur<br/>
              Instagram <a href="https://www.instagram.com/parkourparis/?hl=fr" target="_blank">@ParkourParis</a><br/>
              Facebook <a href="https://www.facebook.com/ParkourParis">@ParkourParis</a><br/>
              Blog Officiel <a href="https://www.parkourparis.fr/blog" target="_blank">@ParkourParisOfficiel</a>
            </small>
          </p>

          <%= link_to t('.i_am_alumni'), new_dashboard_subscription_path(alumni: true), class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
    </div>
  </div>
</div>
