
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="text-center">
      <h1 class="mb-5"> C'est les vacances </h1>
      <h2>Les cours reprennent en Septembre !
    </div>
    <div>
      <%= link_to(root_path, class: "navbar-brand") do %>
        <% image_pack_tag "Logo_PKP.webp" %>
      <% end %>
      <img src="pkp.jpg" alt="Jumping coach" width="42" height="42" style="float:left">
    ​ <h5>Ouverture des inscriptions le 1er Septembre pour les nouveaux adhérents.</h5>
        ​<p>Pour suivre notre actualité médiatique, rendez-vous sur</p>
        <p>Instagram <a href="https://www.instagram.com/parkourparis/?hl=fr" target="_blank" data-content="https://www.instagram.com/parkourparis/?hl=fr" data-type="external" rel="noopener">@ParkourParis</a></p>
        <p>Facebook <a href="https://www.facebook.com/ParkourParis/?hc_ref=ARTyr-Rqaw-C772SNvcsOdHbn2NfS-j4F0HPHQ7Gil6A8o29vN2CCEPAJIECbiKNAfE&amp;fref=nf" target="_blank" data-content="https://www.facebook.com/ParkourParis/?hc_ref=ARTyr-Rqaw-C772SNvcsOdHbn2NfS-j4F0HPHQ7Gil6A8o29vN2CCEPAJIECbiKNAfE&amp;fref=nf" data-type="external" rel="noopener">@ParkourParis</a></p>
        <p>Blog Officiel <a href="https://www.parkourparis.fr/blog" target="_blank">@ParkourParisOfficiel</a></p>
    </div>
  </div>
</div>





