<div class="row">
  <div class="col-md-8 offset-md-2">
    <% if @contact&.confirmed? %>
      <p class="text-center">
        Votre adresse E-mail est confirmée. Vous serez désormais en copie des notifications qui seront envoyées à
        <%= mail_to @contact.user.email, @contact.user.email %>
      </p>

      <div class="d-flex justify-content-center">
        <%= button_to "Se désabonner", contact_confirmation_path(@contact.signed_id(purpose: :confirmation)), method: :delete , class: 'btn btn-danger' %>
      </div>
    <% else %>
      <p class="text-center"> Vous avez essayé d'accéder à cette page depuis une URL qui n'est pas valide.</p>
    <% end %>
  </div>
</div>
