/*
 * This is a manifest file that'll be compiled into invoices.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * WARNING : this file is required for pdf generation of invoices. Do NOT delete it. Thanks :)
 *

 *= require_self
 */

 @import 'bootstrap';

 body {
   font-size: 20px;
   background-color: #fff;
 }

.invoice-logo {
  width: 40%;
}
