<p>Bonjour <%= @resource.email %>,</p>

<p>Nous vous envoyons cet E-mail pour vous informer que votre mot de passe a bien été modifié.</p>

<p>Si ce n'est pas vous qui avez effectué cette action, merci de nous contacter par email à contact@parkourparis.fr</p>
