<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a demandé à réinitialiser votre mot de passe. Vous pouvez le faire en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette requête, veuillez ne pas tenir compte de cet E-mail.</p>
<p>Votre mot de passe restera inchangé tant que vous n'aurez pas cliqué sur le lien et créé un nouveau mot de passe.</p>

<p>Cordialement,</p>

<p>L'équipe Parkour Paris</p>
