<div class="container">
    <h1 class="edit-course-title"><%= t('.title') %></h1>

    <%= render 'form', course: @course, url: admin_course_path(@course.id) %>

    <%= link_to t('defaults.back'), admin_courses_path %>
</div>
