<footer class="container-fluid bg-dark p-2 d-flex justify-content-center">
  <span class="align-middle">Copyright © <%= Time.current.year %> - Parkour Paris</span>
  <span class="ml-2 mr-2">|</span>
  <span class="align-middle">
    <%= link_to "Mentions Légales et Conditions Générales d'Utilisation", legal_mentions_path, target: '_blank' %>
  </span>
</footer>
