<div class="container">
  <nav class="menu">
    <div class="menu-wrapper">
      <div class="menu-container">
        <% if user_signed_in? %>
          <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t('devise.shared.links.sign_in'), new_user_session_path %>
        <% end %>
      </div>
    </div>
  </nav>
</div>
